[user]
        name = Firstname Lastname
        email = firstname.lastname@outlook.de
[credential]
        helper = store
[core]
        autocrlf = input
[fetch]
        prune = true
[color]
        ui = auto
[branch]
        autoSetupMerge = always
[push]
        default = current
[pull]
        rebase = false
[pager]
        branch = cat
[http]
        postbuffer = 524288000
