[user]
        name = Firstname Lastname
        email = firstname.lastname@outlook.de
[credential]
        helper = store
[core]
        autocrlf = input
[pull]
        rebase = true
[fetch]
        prune = true
[diff]
        colorMoved = zebra
[color]
        ui = auto
[branch]
        autoSetupMerge = always
[push]
        default = current
[pager]
        branch = cat
