.idea
!.idea/codeStyles
!.idea/dictionaries
!.idea/inspectionProfiles
!.idea/forwardedPorts.xml
!.idea/jsonSchemas
!.idea/jsonSchemas.xml
!.idea/runConfigurations
*.iml
target
out
__pycache__
venv
.DS_Store
*.log
node_modules
*.env
.vscode
