# https://docs.npmjs.com/cli/v8/configuring-npm/npmrc

# You need to define an NPM_AUTH_TOKEN environment variable with value base64(username:password)
# or insert the value directly into this file

registry=https://nexusrepository.example.com/repository/npm-mirror/
//nexusrepository.example.com/repository/npm-mirror/:_auth=${NPM_AUTH_TOKEN}
